<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>oren shoham | about</title>

    <!-- OpenSans Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

</head>

<body>
  <nav id="navbar" class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a class="navbar__link" href="/">Home</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/work">Work</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/sketches">Sketches</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link navbar__link--active" href="/about">About</a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <section id="bio">
      <h1>About</h1>
      <p>
        Oren Shoham is a programmer, artist, and musician based in Brookyln, NY. He's interested in everything, but tries to focus on one or two things at a time. He wants to make things that are beautiful, meaningful, and/or useful, whether they're websites, applications, tools, installations, sketches, games, or songs. His practice explores generative and algorithmic art, the relationship between sound and visual art, and interactive systems and feedback loops. Other interests include the pedagogy of programming, data visualization for social justice, game design, and neuroscience.
      </p>
      <p>
        Oren has been a student/resident at the <a href="http://sfpc.io">School for Poetic Computation</a> and a participant at the <a href="https://recurse.com">Recurse Center</a>. He holds a B.A. in computer science from Oberlin College.
      </p>
    </section>
    <section id="contact">
      <h1>Contact</h1>
      <ul class="contact-info">
        <li>
          Email: <a href="mailto:oren.avraham.shoham@gmail.com">oren.avraham.shoham@gmail.com</a>
        </li>
        <li>
          Twitter: <a href="https://twitter.com/oren_shoham">@oren_shoham</a>
        </li>
        <li>
          GitHub: <a href="https://github.com/oshoham">oshoham</a>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>
