<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>orenshoham.com | Conway's Game of Life</title>

    <!-- OpenSans Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

</head>

<body>

  <div id="draw-container"></div>

  <script src="js/game-of-life/two.min.js"></script>
  <script src="js/game-of-life/dist/game-of-life.js"></script>

</body>

</html>
