<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>orenshoham.com</title>

    <!-- OpenSans Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

</head>

<body>

  <div class="flex-container">
    <div class="oren">
      <h1>Oren Shoham</h1>
      <h3>Developer // Musician</h3>

      <hr/>

      <div class="contact">
        <ul class="list-inline">
          <li><a href="https://github.com/oshoham"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
          <li><a href="https://www.facebook.com/orenshoham"><i class="fa fa-facebook fa-fw fa-3x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/orenshoham"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
          <li><a href="resume"><i class="fa fa-file-text-o fa-fw fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- jQuery -->
  <script src="js/jquery-1.11.3.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>

</html>
