<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>orenshoham.com</title>

    <!-- OpenSans Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

</head>

<body>

  <div class="flex-container">
    <div class="content">
      <section id="about">
        <h1 id="name">Oren Shoham</h1>
        <h3 id="bio">developer // musician</h3>
      </section>

      <hr/>

      <section id="contact">
        <p id="email" class="email">
          <i class="fa fa-envelope-o fa-fw" style="margin-right:1px;"></i><a href="mailto:oren.avraham.shoham@gmail.com">oren.avraham.shoham@gmail.com</a>
        </p>

        <ul class="list-inline">
          <li id="github"><a href="https://github.com/oshoham"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
          <li id="facebook"><a href="https://www.facebook.com/orenshoham"><i class="fa fa-facebook fa-fw fa-3x"></i></a></li>
          <li id="linkedin"><a href="https://www.linkedin.com/in/orenshoham"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
          <li id="resume"><a href="resume"><i class="fa fa-file-text-o fa-fw fa-3x"></i></a></li>
        </ul>
      </section>
    </div>

  </div>

</body>

</html>
