<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>oren shoham | code sketches</title>

    <!-- OpenSans Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">

</head>

<body>
  <nav id="navbar" class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a class="navbar__link" href="/">Home</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/work">Work</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link navbar__link--active" href="/sketches">Sketches</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/about">About</a>
      </li>
    </ul>
  </nav>
</body>

</html>
