html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: #000;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
}

.navbar {
  width: 75%;
  margin: 0 auto;
  min-height: 0;
  border-bottom: 2px solid #999;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.navbar__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 10px 0;
  justify-content: space-around;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: #999;
  display: block;
  text-align: center;
}

.navbar__link--active {
  color: #000;
}

.navbar__link:hover {
  text-decoration: none;
  color: #000;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.contact-info {
  list-style: none;
  padding: 0;
}
