html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  text-align: center;
}

.email {
  margin-bottom: 20px;
}
